<section class="hero-section">
  <div class="hero-content">
    <div class="hero-mainimage">
      {% if section.settings.background_image != blank %}
        <img src="{{ section.settings.background_image | img_url: '2000x' }}" alt="Gift Guide Hero" class="hero-main-image">
      {% endif %}
    </div>
  </div>
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">The Gift Guide</h1>
      <p class="hero-description">
        Discover Joy: Your Ultimat Holiday Gift Destination.
        Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
      </p>
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="gift-guide-btn">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
    <div class="hero-image">
      {% if section.settings.background_image != blank %}
        <img src="{{ section.settings.background_image | image_url: '2000x'}}" alt="Gift Guide Hero" class="hero-main-image">
      {% endif %}
    </div>
  </div>
  <div class="hero-bottom-content">
    <p class="hero-bottom-text">SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</p>
  </div>
</section>
{% schema %}
{
  "name": "Gift Guide Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Illustration"
    }
  ],
  "presets": [
    { "name": "Gift Guide Hero" }
  ]
}
{% endschema %}
