<section class="hero-section">
  <div class="hero-content">
    <div class="hero-mainimage">
      {% if section.settings.background_image != blank %}
        <img src="{{ section.settings.background_image | img_url: '2000x' }}" alt="Gift Guide Hero" class="hero-main-image">
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Gift Guide Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Illustration"
    }
  ],
  "presets": [
    { "name": "Gift Guide Hero" }
  ]
}
{% endschema %}
